.card-profile {
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
}

.images img {
  max-width: 100px;
  height: auto;
}

.user-info,
.user-photos {
  position: sticky;
  top: 60px;
  height: 100%;
}
