.card-profile {
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
}

.images img {
  max-width: 100px;
  height: auto;
}

.user-info,
.user-photos {
  position: sticky;
  top: 60px;
  height: 100%;
}

#followers-modal-content {
  overflow-y: scroll;
  height: 50vh;
}

#followers-modal-content img {
  width: 48px;
  height: 48px;
}
