{% extends 'layout.html' %}
{% block title_tag %}Forgot Your Password? | {{ block.super }}{% endblock %}
{% load static %}
{% load bootstrap4 %}
{% block body_content %}
<link rel="stylesheet" href="{% static 'users/css/user_form.css' %}">
<div class="user-form-login container">
  <h1>Forgot your password?</h1>
  <p>Enter the email address that's associated with your account and
    we'll send you instructions on how you can change your password.</p>
  <form method='POST'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Send me instructions</button>
        <a href="https://peerspace.io/users/login/" class="btn btn-primary">Back To Login</a>
    {% endbuttons %}
  </form>
</div>
{% endblock %}
