{% extends 'layout.html' %}
{% block title_tag %}Change Your Password | {{ block.super }}{% endblock %}
{% load static %}
{% load bootstrap4 %}
{% block body_content %}
<link rel="stylesheet" href="{% static 'users/css/user_form.css' %}">
<div class="user-form-login">
  <h1>Set a new password</h1>
  <form method='POST'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Reset</button>
        <a href="http://peerspace.herokuapp.com/users/login/" class="btn btn-primary">Back To Login</a>
    {% endbuttons %}
  </form>
</div>
{% endblock %}
