body {
  background-color: rgba(240, 240, 240, 1)!important;
  overflow: auto;
}

.navbar {
  background-color: #6A0F49!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.navbar-brand {
  margin-right: 3px!important;
}

.navbar-brand img {
  height: 32px;
  width: 32px!important;
}

.username {
  color: white;
  /* border-right: 1px solid white; */
}

.points {

}

.app-notifications span {
  font-size: 32px;
}

.notifications {
  color: white;
  font-size: 24px;
  vertical-align: middle;
  /* border: 1px solid white;
  border-radius: 50%; */
}

.notification-list {
  /* width: 300px; */
}

.popover {
  max-width: 800px;
  min-width: 400px;
  /* width: 800px; */
  overflow-y: scroll;
  height: 60vh;
}

.notification-popover {
  max-width: none!important;
  width: 400px;
}

.user-link {
  display: inline-block;;
}

.user-link img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 50%;
}

#notifications {
  position: relative;
  display: inline-block;
}

.notification-num {
  position: absolute;
  top: 3px;
  right: 3px;
  display: inline;
  color: white;
  font-size: 10px;
  background-color: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  text-align: center;
}

.icon-controller-record {
  color: #6A0F49;
}

.notification_proof_pic {
  width: 36px;
  height: 36px;
  position: absolute;
  right: 100px;
  top: calc(40% - 18px);
}

.loading-circle {
  height: 32px;
  width: 32px;
  margin: 20px auto;
  display: block;
}

.search-input {
  height: 28px;
  width: 360px!important;
  margin-top: 3px;
}

@@media (max-width) {
  .search-input {
    width: 240px!important;
  }
}
