body {
  background-color: rgba(240, 240, 240, 1)!important;
}

.navbar {
  background-color: #6A0F49!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.navbar-brand img {
  height: 32px;
  width: 32px!important;
}

.username {
  color: white;
  /* border-right: 1px solid white; */
}

.points {

}

.app-notifications span {
  font-size: 32px;
}
