/* Page structure styles */

.post-feed {
  margin-top: 60px;
}

.user-stats,
.suggested-users-card {
  position: sticky;
  top: 60px;
}

.suggested-users-card {
  background-color: transparent;
  border: none;
}

.links-card {
  position: sticky;
  top: 0px;
}

/* Post structure styles */

.post {
  margin-bottom: 0!important;
}

.profile-pic {
  object-fit: cover;
  width: 60px;
  height: 60px;
}

@media (max-width:576px) {
  .profile-pic {
    width: 42px;
    height: 42px;
  }
}

.profile-pic-lg {
  object-fit: cover;
  width: 85px;
  height: 85px;
}

.tags {
  display: inline;
  color: grey;
  font-style: italic;
}

.post-proof {
  margin: 0.99px;
  background-color: white;
}

/* Post footer styles */

.post-footer {
  background-color: rgb(250, 250, 250);
  margin: 0.99px;
  /* margin-bottom: 15px; */
  text-decoration: none;
  color: black;
  height: 30px;
}

.like-btn,
.comment-btn,
.verify-btn {
  vertical-align: middle;
  color: grey;
  transition: all 0.5s;
}

.like-btn:hover {
  color: grey;
}

.completion-status {
  margin-bottom: 0px;
}

.comment-form {
  margin: 0.99px;
}

.comment-container {
  background-color: white;
  margin: 0.99px;
}

.comment-pic {
  width: 35px!important;
}

.delete-comment-btn {
  display: none;
}
