{% extends 'layout.html' %}
{% load static %}
{% block title_tag %}Profile | {{ block.super }}{% endblock %}
{% block body_content %}
<!-- Peerspace specific stylesheets  -->
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'posts/css/post.css' %}">
<!-- Percentage circles stylesheets -->
<link rel="stylesheet" href="{% static 'posts/css/circle.css' %}">
<link rel="stylesheet" href="{% static 'posts/sass/circle.scss' %}">
<div class="container">
  <div class="row">
    <div class="card card-profile">
      <div class="card-header" style="background-image: url({{ profile_pictures.user_cover_pic }});"></div>
      <div class="card-body text-xs-center">
        <img class="card-profile-img profile-pic-lg" src="{{ profile_pictures.user_profile_pic }}">
        <h5 class="card-title">{{ user.name}}</h5>
        <p class="mb-4">{{ user.bio }}</p>
        {% if following %}
        <button class="follow-btn btn btn-outline-primary btn-sm mx-1" href="#" main-follow-btn=true userid="{{ user.id }}">
          <span class="icon icon-check"></span> Following
        </button>
        {% else %}
        <button class="follow-btn btn btn-outline-primary btn-sm mx-1" href="#" main-follow-btn="true" userid="{{ user.id }}">
          <span class="icon icon-add-user"></span> Follow
        </button>
        {% endif %}
        <a class="btn btn-outline-primary btn-sm mx-1 message-btn" href="#">
          <span class="icon icon-message"></span> Message
        </a>
        <ul class="card-menu mx-auto mt-3">
          <li class="card-menu-item text-center">
            <a href="#" id="followers" class="text-inherit" data-toggle="modal">
              Followers
              <h6 class="my-0 followers-count">{{ user.follows.count }}</h6>
            </a>
          </li>
          <li class="card-menu-item text-center">
            <a href="#userModal" class="text-inherit" data-toggle="modal">
              Following
              <h6 class="my-0">{{ user.following.count }}</h6>
            </a>
          </li>
          <li class="card-menu-item text-center">
            <a href="#userModal" class="text-inherit" data-toggle="modal">
              Posts
              <h6 class="my-0">{{ number_of_posts }}</h6>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card d-md-block col-lg-3 d-lg-block mb-4 mt-3 user-info" style="height: 100%;">
      <div class="card-body">
        <h6 class="mb-4">Post completion <small>· <a href="#">More</a></small></h6>
        <div class="c100 p{{completion_percentage}} center mb-4">
          <span>{{completion_percentage}}%</span>
          <div class="slice"><div class="bar"></div><div class="fill"></div></div>
        </div>
        <hr>
        <h6>Level (total points: {{user.points}})</h6>
        <div class="green c100 p{{user.level_percentage}} center my-4">
          <span>{{user.level_floor}}</span>
          <div class="slice"><div class="bar"></div><div class="fill"></div></div>
        </div>
        <hr>
        <h6 class="mb-3">About</h6>
        <ul class="list-unstyled list-spaced">
            <li><span class="text-muted icon icon-graduation-cap mr-3"></span>Went to <a href="#">{{user.education}}</a>
            </li><li><span class="text-muted icon icon-briefcase mr-3"></span>Worked at <a href="#">{{user.work}}</a>
            </li><li><span class="text-muted icon icon-location-pin mr-3"></span>Location <a href="#">{{user.location}}</a>
        </li></ul>
      </div>
    </div>
    <div class="post-list col-lg-6">
      <ul class="media-list media-list-stream post-feed-profile mb-3">
        <post-feed></post-feed>
        <img class='loading-circle loading-circle-posts' src={% static 'img/loading.gif' %}>
      </ul>
    </div>
    <div class="card d-md-block col-lg-3 mt-3 d-lg-block mb-4 user-photos" style="height: 100%;">
      <div class="card-body">
        <h6 class="mb-3">Post proof photos <small>· <a href="#">View all</a></small></h6>
        <div data-grid="images" class="images">
        </div>
        <img class='loading-circle loading-circle-images' src="{% static 'img/loading.gif' %}">
      </div>
    </div>
  </div>
</div>
<div class="modal fade bd-example-modal-md" id="followersModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <ul class="media-list media-list-users list-group" id="followers-model-content">
      </ul>
    </div>
  </div>
</div>
<!-- Makes getting the csrf token easier -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- jQueryUi -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<!-- Toolkit JS -->
<script src="{% static 'dist/toolkit.js' %}"></script>
<!-- Tagit -->
<script src="{% static 'js/tag-it.js' %}" type="text/javascript" charset="utf-8"></script>
<!-- Adds CSRF token to the request headers -->
<script src="{% static 'js/csrf.js' %}"></script>
<!-- Riot.js custom tag -->
<script src="{% static 'tags/post-feed.js' %}"></script>
<script>
    var postData = []
    var postIds = []
    var pageNumber = 0
    function tagCallBack(theTag) {
      //Gets posts
      $.ajax({
        type: "GET",
        url: "/posts/api/v1/profile/{{ user.id }}/" + pageNumber,
        dataType: 'json',
        success: function(data) {
          postData = data
          $.each(postData, function(i, post) {
            postIds.push(post.id)
          })
          userId = {{ user_viewing }}
          theTag.trigger('data_loaded', data, userId)
          $('.loading-circle-posts').hide()
        }, error: function(error) {
          console.log('Error loading posts...')
        }
      });
      var reachedBottom = false
      $(window).scroll(function() {
        toScroll = $(document).height() - $(window).height() - 100;
        if ($(this).scrollTop() > toScroll && !reachedBottom) {
        pageNumber++
        reachedBottom = true
        //Show loading gif
        $('.loading-circle-posts').show()
        //Gets more posts
        $.ajax({
          type: "GET",
          url: "/posts/api/v1/profile/{{ user.id }}/" + pageNumber,
          dataType: 'json',
          success: function(data) {
            $.each(data, function(i, post) {
              if ($.inArray(post.id, postIds) == -1) {
                postData.push(post)
              }
            })
            userId = {{ user_viewing }}
            if (data.length) {
              reachedBottom = false
              theTag.trigger('data_loaded', postData, userId)
            } else {
              reachedBottom = true
              console.log('No more posts')
            }
            //Hide loading gif
            $('.loading-circle-posts').hide()
          }, error: function(error) {
            console.log('Error loading posts...')
          }
          })
        }
      })
  }
  // Handle the folowers and following modals
  $(document).on('click', '#followers', function() {
    // Get all of the user's followers
    $.ajax({
      type: "GET",
      url: "/users/api/v2/" + {{ user.id }} + "/followers",
      dataType: "json",
      success: function(data) {
        $('#followers-model-content').html('')
        $.each(data, function(i, e) {
          var userHTML = '<li class="list-group-item"><div class="media w-100">'
          userHTML += '<img class="media-object d-flex align-self-start mr-3" src="' + e.profile_pic + '">'
          userHTML += '<div class="media-body">'
          if (e.id !== {{ user_viewing }}) {
            if (e.user_viewing_follow_them) {
              userHTML += '<button class="btn btn-primary follow-btn btn-sm float-right" userid=' + e.id + ' main-follow-btn="false"><span class="icon icon-check"></span> Following</button>'
            } else {
              userHTML += '<button class="btn btn-primary follow-btn btn-sm float-right" userid=' + e.id + ' main-follow-btn="false"><span class="icon icon-user"></span> Follow</button>'
            }
          }
          userHTML += '<strong>' + e.name + '</strong>'
          userHTML += '</div></div></li>'
          $('#followers-model-content').append(userHTML)
        })
      }
    });
    $('#followersModal').modal('toggle')
  })
  function deleteComment(comment_id, post_id) {
    var this_button = $(this)
    $.ajax({
      url: "/posts/api/v1/comments/" + comment_id,
      type: "DELETE",
      // This MUST be in the callback due to the asynchronus nature of javascript
      success: function() {
        getComments(post_id)
      }
    })
  }
  function getComments(post_id) {
    //Gets comments
    $.ajax({
      type: "GET",
      url: "/posts/api/v1/" + post_id + "/comment",
      dataType: "json",
      success: function(comments) {
        $('.comment-list-' + post_id).html('')
        if (comments.length == 0) {
          $('.comment-form-' + post_id).fadeIn()
        }
        $.each(comments, function(i,e) {
          var commentHTML = '<li class="media comment-block py-3" commentid=' + e.comment_id + '>';
          commentHTML += '<img class="media-object comment-pic d-flex align-self-start mr-3" src="' + e.user_pic_url + '">'
          commentHTML += '<div class="media-body">'
          commentHTML += '<strong>' + e.user_name + ': </strong>'
          commentHTML += e.comment
          if ({{ user_viewing }} == e.userId) {
            //Handle the deleting of comments here
            commentHTML += '</div><button class="btn delete-comment-btn delete-comment-btn-' + e.comment_id + ' btn-outline-danger" style="float:right; padding:0px 3px;" href="#" onClick="deleteComment('+ e.comment_id +',' + post_id + ')"><span class="icon icon-cross"></span></button>'
          }
          commentHTML += '</li>'
          if (comments.length > i + 1) {
            commentHTML += '<hr>'
          }
          // I can get the callback from a function by calling it in a console.log()
          $('.comment-list-' + post_id).append(commentHTML)
        })
        $('.comment-btn-' + post_id).html('<span class="icon icon-message"></span> Comment (' + comments.length + ')')
        $('.comment-container-' + post_id).fadeIn()
        $('.comment-form-' + post_id).fadeIn()
      }
    });
  }
  $(document).ready(function() {
    // Will fade the delete button in and out when the user hovers over their own comment
    $(document).on('mouseenter', '.comment-block', function() {
      var comment_id = $(this).attr('commentid')
      $('.delete-comment-btn-' + comment_id).fadeIn();
    })
    $(document).on('mouseleave', '.comment-block', function() {
      var comment_id = $(this).attr('commentid')
      $('.delete-comment-btn-' + comment_id).fadeOut();
    })
    //Sends like
    $(document).on('click', '.like-btn', function(e) {
      // Stop the page refreshing when the button is clicked
      e.preventDefault()
      var this_button = $(this)
      $.ajax({
        url: "/posts/api/v1/" + this_button.attr('id') + "/like",
        method: "GET",
        data: {},
        success: function(data) {
          if (data.liked) {
            this_button.css('color', '#007bff')
            this_button.html('<span class="icon icon-thumbs-up"></span> Like (' + data.likes + ')')
          } else {
            this_button.css('color', 'grey')
            this_button.html('<span class="icon icon-thumbs-up"></span> Like (' + data.likes + ')')
          }
        }
      })
    })
    // Manages the opening and closing of comment sections
    $(document).on('click', '.comment-btn', function(e) {
      // Stop the page refreshing when the button is clicked
      e.preventDefault()
      post_id = $(this).attr("post-id")
      commentsOpen = $('.comment-container-' + post_id).attr('commentsopen')
      if (commentsOpen == 'true') {
        $('.comment-container-' + post_id).fadeOut(function() {
          $('.comment-container-' + post_id).attr('commentsopen', 'false')
          $('.comment-btn-' + post_id).css('color', 'grey')
        })
        $('.comment-form-' + post_id).fadeOut()
      } else {
        $('.comment-container-' + post_id).attr('commentsopen', 'true')
        $('.comment-btn-' + post_id).css('color', '#007bff')
        getComments(post_id)
      }
    })
    //Sends follow
    $(document).on('click', '.follow-btn', function(e) {
      var this_button = $(this);
      e.preventDefault()
      $.ajax({
        type: "GET",
        url: "/users/api/v2/" + this_button.attr('userid') + "/follow/",
        dataType: "json",
        success: function(data) {
          if (this_button.attr('main-follow-btn') == 'true') {
            if (data.following) {
              $('.follow-btn').html('<span class="icon icon-check"></span> Following')
            } else {
              $('.follow-btn').html('<span class="icon icon-add-user"></span> Follow')
            }
          } else {
            if (data.following) {
              this_button.html('<span class="icon icon-check"></span> Following')
            } else {
              this_button.html('<span class="icon icon-add-user"></span> Follow')
            }
          }
        }
      })
    })
    //Sends comment
    $(document).on("keydown", ".comment", function (e) {
        if (e.which == 13 && $(this).val()) {
          post_id = $(this).attr("post-id")
          var data = {
            comment: $(this).val(),
            post: post_id
          }
          $.ajax({
            url: "/posts/api/v1/" + post_id + "/comment",
            method: "POST",
            data: data,
            success: function(data) {
              //Load all comments
              getComments(post_id)
            }
          })
          $(this).val('')
        }
    })
    // Sends verification
    $(document).on('click', '.verify-btn', function(e) {
      e.preventDefault()
      post_id = $(this).attr("post-id")
      this_button = $(this)
      $.ajax({
        url: "/posts/api/v1/" + post_id + "/verify",
        method: "GET",
        dataType: "json",
        success: function(data) {
          if (data.verified_user) {
            this_button.css('color', '#007bff')
            this_button.html('<span class="icon icon-shield"></span> Verified (' + data.verifications + '/5)')
          } else {
            this_button.css('color', 'grey')
            this_button.html('<span class="icon icon-shield"></span> Verify (' + data.verifications + '/5)')
          }
          if (data.verifications >= 5) {
            $('.verify-btn-' + post_id).hide()
            $('.awaiting-verifcation-' + post_id).hide()
            var statusHTML = '<p class="float-right completion-status completed-{post.id} mr-3 pt-1" style="color: green;"><span class="icon icon-check"></span> Completed</p>'
            $('.completion-status-container-' + post_id).html(statusHTML)
          }
        }
      })
    })
    // Get user proof images
    $.ajax({
      url: "/posts/api/v1/proof_images/" + {{ user.id }} + "/" + 10,
      method: "GET",
      dataType: "json",
      success: function(data) {
        $.each(data, function(i, e) {
          $('.images').append('<img href="' + e.post_url + '" class="img-fluid image" style="padding: 10px;" data-width="' + e.proof_pic_width + '" data-height="' + e.proof_pic_height + '" src="' + e.proof_pic_url + '">')
        })
        $('.loading-circle-images').hide()
        // $('.images').imageGrid()
      }
    })
    $(document).on('click', '.image', function() {
      window.location.href = $(this).attr('href');
    })
    // Handles messages
    $(document).on('click', '.message-btn', function() {
      $.ajax({
        type: "GET",
        url: "/messages/api/v5/messages/redirect/{{ user.id }}/",
        dataType: "json",
        success: function(data) {
          window.location.href = "/messages/" + data.conversation_id
        }
      })
    })
  })
  riot.mount('post-feed', {callback:tagCallBack})
</script>
{% endblock body_content %}
