{% extends 'layout.html' %}
{% load static %}
{% block title_tag %}Profile | {{ block.super }}{% endblock %}
{% block body_content %}
    <!-- Peerspace specific stylesheets  -->
    <link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'posts/css/post.css' %}">
    <!-- Percentage circles stylesheets -->
    <link rel="stylesheet" href="{% static 'posts/css/circle.css' %}">
    <link rel="stylesheet" href="{% static 'posts/sass/circle.scss' %}">
    <!-- jQueryUi specific stylesheets -->
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/flick/jquery-ui.css">
    <!-- Tagit specific stylesheets -->
    <link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet" type="text/css">
    <div class="container">
        <div class="row">
            <div class="card card-profile">
                <div class="card-header" style="background-image: url({{ profile_pictures.user_cover_pic }});"></div>
                <div class="card-body text-xs-center">
                    <img class="card-profile-img profile-pic-lg" src="{{ profile_pictures.user_profile_pic }}">
                    <h5 class="card-title">{{ user.name}}</h5>
                    <p class="mb-4">{{ user.bio }}</p>
                    <a class="btn btn-outline-primary btn-sm mx-1" href="{% url 'users:edit' %}">
                        <span class="icon icon-edit"></span> Edit Profile
                    </a>
                    <a class="btn btn-outline-primary btn-sm mx-1" href="{% url 'users:edit_tags' %}">
                        <span class="icon icon-tag"></span> Edit Preferences
                    </a>
                    <a class="btn btn-outline-primary btn-sm mx-1" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <span class="icon icon-plus"></span> Create Post
                    </a>
                    <ul class="card-menu mx-auto mt-3">
                        <li class="card-menu-item text-center">
                            <a href="" id="followers" class="text-inherit modal-open" data-modal-type="followers" data-toggle="modal">
                                Followers
                                <h6 class="my-0">{{ user.followers.count }}</h6>
                            </a>
                        </li>
                        <li class="card-menu-item text-center">
                            <a href="" id="following" class="text-inherit modal-open" data-modal-type="following" data-toggle="modal">
                                Following
                                <h6 class="my-0">{{ user.following.count }}</h6>
                            </a>
                        </li>
                        <li class="card-menu-item text-center">
                            <a href="#userModal" class="text-inherit" data-toggle="modal">
                                Posts
                                <h6 class="my-0">{{ number_of_posts }}</h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card d-md-block col-lg-3 mt-3 d-lg-block mb-4 user-info">
                <div class="card-body">
                    <h6 class="mb-4">Post completion <small>· <a href="#">More</a></small></h6>
                    <div class="c100 p{{completion_percentage}} center mb-4">
                        <span>{{completion_percentage}}%</span>
                        <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                    </div>
                    <!-- <hr> -->
                    <h6>Level (total points: {{user.points}})</h6>
                    <div class="green c100 p{{user.level_percentage}} center my-4">
                        <span>{{user.level_floor}}</span>
                        <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                    </div>
                    <hr>
                    <h6 class="mb-3">About <small>· <a href="{% url 'users:edit' %}">Edit</a></small></h6>
                    <ul class="list-unstyled list-spaced">
                        <li><span class="text-muted icon icon-graduation-cap mr-3"></span>Went to <a href="#">{{user.education}}</a>
                        </li><li><span class="text-muted icon icon-briefcase mr-3"></span>Worked at <a href="#">{{user.work}}</a>
                    </li><li><span class="text-muted icon icon-location-pin mr-3"></span>Location <a href="#">{{user.location}}</a>
                    </li></ul>
                </div>
            </div>
            <div class="post-list col-lg-6">
                <div class="collapse" id="collapseExample">
                    <div class="post-list mt-3 mx-auto mb-3 d-block">
                        <form class="" method="POST">
                            <div class="form-group">
                                <input type="email" class="form-control" id="title" placeholder="Title">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="desc" placeholder="Description" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Tags</label>
                                <ul id="tags">
                                </ul>
                            </div>
                            <button data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" type="submit" id="post" class="btn btn-primary">Post</button>
                            <a class="btn btn-primary mx-1" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                <span class="icon icon-remove-sign"></span> Cancel
                            </a>
                        </form>
                    </div>
                </div>
                <ul class="media-list media-list-stream post-feed-profile mb-3 mt-3">
                    <post-feed></post-feed>
                    <img class='loading-circle loading-circle-posts' src="{% static 'img/loading.gif' %}">
                </ul>
            </div>
            <div class="card d-md-block col-lg-3 mt-3 d-lg-block mb-4 user-photos" style="height: 100%;">
                <div class="card-body">
                    <h6 class="mb-3">Your proof photos <small>· <a href="#">View all</a></small></h6>
                    <div data-grid="images" class="images">
                    </div>
                    <img class='loading-circle loading-circle-images' src="{% static 'img/loading.gif' %}">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-md" id="followersModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <ul class="media-list media-list-users list-group mt-3" id="followers-modal-content">
                    <follower></follower>
                    <img class='loading-circle loading-circle-followers' src="{% static 'img/loading.gif' %}">
                </ul>
            </div>
        </div>
    </div>
    <script>
        function sendVar() {
            return {
                userId: {{ user.id }},
                page: 'profileUser',
                tags: true
            }
        }
    </script>
    <script src="{% static 'js/peerspace.js' %}"></script>
{% endblock body_content %}
