{% extends 'layout.html' %}
{% load static %}
{% block body_content %}
    <link rel="stylesheet" href="{% static 'posts/css/post.css' %}">
    <div class="container mt-5">
        <div class="row">
            <div class="user-post mt-5 col-lg-3">
                <div class="card card-profile mb-4">
                    <div class="card-body text-center">
                        {% if post.completed %}
                            <h6 class="mb-4"><span class="icon icon-check"></span>Post completed, it took<small></small></h6>
                            <div class="c100 p100 center mb-4">
                                <span>{{ post.days_taken }} day{{ post.days_taken | pluralize }}</span>
                                <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                            </div>
                        {% else %}
                            {% if post.deadline %}
                                <h6 class="mb-4">Days to go<small></small></h6>
                                <div class="c100 p{{ post.days_to_go_percentage }} center mb-4">
                                    <span>{{ post.days_to_go }} day{{ post.days_to_go | pluralize }}</span>
                                    <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                </div>
                            {% else %}
                                <h6 class="mb-4">This post has no deadline.<small></small></h6>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <style>.post {margin-top: 0!important}</style>
            <ul class="media-list col-lg-6 mt-5 media-list-stream post-body mb-3">
                <post-feed></post-feed>
            </ul>
            <div class="user-post mt-5 col-lg-3">
                <div class="card card-profile mb-4">
                    <div class="card-body text-center">
                        <h3 class="text-left">Options</h3>
                        <style>.control-btn {display: block; margin: 10px 0; text-align: left; color: grey;}</style>
                        {% if post.proof_description and post.proof_pic %}
                            <a href="/posts/{{ post.id }}/prove/delete_confirm/" class="control-btn"><span class="icon icon-cross"></span> Delete proof</a>
                        {% else %}
                            <a href="/posts/{{ post.id }}/progress/" class="control-btn"><span class="icon icon-time-slot"></span> Update progress</a>
                            <a href="/posts/{{ post.id }}/prove/" class="control-btn"><span class="icon icon-plus"></span> Submit proof</a>
                        {% endif %}
                        <a href="/posts/{{ post.id }}/edit/" class="control-btn"><span class="icon icon-edit"></span> Edit</a>
                        <a href="/posts/{{ post.id }}/delete/" class="control-btn"><span class="icon icon-trash"></span> Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
    <script src="{% static 'tags/post-feed.js' %}"></script>
    <script>
        function tagCallBack(theTag) {
            //Gets posts
            $.ajax({
                type: "GET",
                url: "/posts/api/v1/{{ post.id }}",
                dataType: 'json',
                success: function(data) {
                    const userId = {{ user.id }}
                        post = {
                            post: data
                        };
                    theTag.trigger('data_loaded', post, userId)
                    const postId = {{ post.id }};
                    const commentsOpen = $('.comment-container-' + postId).attr('commentsopen');
                    if (commentsOpen === 'true') {
                        $('.comment-container-' + postId).fadeOut(function() {
                            $('.comment-container-' + postId).attr('commentsopen', 'false');
                            $('.comment-btn-' + postId).css('color', 'grey')
                        });
                        $('.comment-form-' + postId).fadeOut()
                    } else {
                        $('.comment-container-' + postId).attr('commentsopen', 'true');
                        $('.comment-btn-' + postId).css('color', '#007bff');
                        getComments(postId, {{ user.id }})
                    }
                }
            });
        }
        riot.mount('post-feed', {callback:tagCallBack})
    </script>
{% endblock %}
