{% extends 'layout.html' %}
{% load static %}
{% block body_content %}
    <link rel="stylesheet" href="{% static 'posts/css/post.css' %}">
    <div class="container mt-5 pt-4">
        <div class="row">
            <div class="user-post mt-3 col-lg-3">
                <div class="card card-profile mb-4">
                    <div class="card-body text-center">
                        {% if post.completed %}
                            <h6 class="mb-4"><span class="icon icon-check"></span>Post completed, it took<small></small></h6>
                            <div class="c100 p100 center mb-4">
                                <span>{{ post.days_taken }} day{{ post.days_taken | pluralize }}</span>
                                <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                            </div>
                        {% else %}
                            {% if post.deadline %}
                                <h6 class="mb-4">Days to go<small></small></h6>
                                <div class="c100 p{{ post.days_to_go_percentage }} center mb-4">
                                    <span>{{ post.days_to_go }} day{{ post.days_to_go | pluralize }}</span>
                                    <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                </div>
                            {% else %}
                                <h6 class="mb-4">This post has no deadline.<small></small></h6>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <style>.post {margin-top: 0!important}</style>
            <ul class="media-list col-lg-6 mt-3 media-list-stream post-body mb-3">
                <post-feed></post-feed>
            </ul>
            <div class="user-post mt-3 col-lg-3">
                <div class="card card-profile mb-4" style="position: sticky; top: 60px; background-color: rgb(240,240,240); border: none">
                    <div class="card-body text-center" style="background-color: white; border: 1px solid rgba(0,0,0,.125);">
                        <h3 class="text-left">Options</h3>
                        <style>.control-btn {display: block; margin: 10px 0; text-align: left; color: grey;}</style>
                        <a href="/posts/{{ post.id }}/edit/" class="control-btn"><span class="icon icon-message"></span> Message user</a>
                        <a href="/posts/{{ post.id }}/delete/" class="control-btn"><span class="icon icon-warning"></span> Report post</a>
                    </div>
                    <div class="comment-container comment-container-{{ post.id }} p-3 mt-4" commentsopen="false" style="border: 1px solid rgba(0,0,0,.125);">
                        <h3>Comments</h3>
                        <ul class="media-list comment-list comment-list-{{ post.id }} mx-auto d-block my-0" style="width:95%;">
                        </ul>
                    </div>
                    <div class="comment-form comment-form-{post.id}">
                        <div class="form-group">
                            <input type="text" class="form-control comment" post-id="{{ post.id }}" placeholder="Comment">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        function sendVar() {
            return {
                userId: {{ user.id }},
                page: 'postDetail',
                tags: false,
                postId: {{ post.id }}
            }
        }
    </script>
    <script src="{% static 'js/peerspace.js' %}"></script>
    <script>getComments({{ post.id }}, {{ user.id }})</script>
{% endblock %}
