{% extends 'layout.html' %}
{% block title_tag %}Feed | {{ block.super }}{% endblock %}
{% load static %}
{% block body_content %}
    <link rel="stylesheet" href="{% static 'posts/css/post.css' %}">
    <link rel="stylesheet" href="{% static 'posts/css/circle.css' %}">
    <link rel="stylesheet" href="{% static 'posts/sass/circle.scss' %}">
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/flick/jquery-ui.css">
    <link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet" type="text/css">
    <div class="container post-feed">
        <div class="row">
            <div class="user-info col-lg-3">
                <div class="card card-profile mb-4">
                    <div class="card-header" style="background-image: url({{ profile_pictures.user_cover_pic }});"></div>
                    <div class="card-body text-center">
                        <a href="{% url 'users:profile_user' %}">
                            <img class="card-profile-img profile-pic-lg" src="{{ profile_pictures.user_profile_pic }}">
                        </a>
                        <h6 class="card-title">
                            <a class="text-inherit" href="{% url 'users:profile_user' %}">{{ user.name}}</a>
                        </h6>
                        <p class="mb-4">{{ user.bio }}</p>
                        <ul class="card-menu">
                            <li class="card-menu-item">
                                <a id="followers" href="" class="text-inherit" data-toggle="modal" data-modal-type="followers">
                                    Followers
                                    <h6 class="my-0">{{ user.followers.count }}</h6>
                                </a>
                            </li>
                            <li class="card-menu-item">
                                <a href="{% url 'users:profile_user' %}" class="text-inherit">
                                    Posts
                                    <h6 class="my-0">{{ number_of_posts }}</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card d-md-block mt-3 d-lg-block mb-4 user-stats">
                    <div class="card-body">
                        <h6 class="mb-4">Post completion <small>· <a href="#">More</a></small></h6>
                        <div class="c100 p{{completion_percentage}} center mb-4">
                            <span>{{completion_percentage}}%</span>
                            <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                        </div>
                        <hr>
                        <h6 class="mb-3">About <small>· <a href="{% url 'users:edit' %}">Edit</a></small></h6>
                        <ul class="list-unstyled list-spaced">
                            <li><span class="text-muted icon icon-graduation-cap mr-3"></span>Went to <a href="#">{{user.education}}</a>
                            </li><li><span class="text-muted icon icon-briefcase mr-3"></span>Worked at <a href="#">{{user.work}}</a>
                        </li><li><span class="text-muted icon icon-location-pin mr-3"></span>Location <a href="#">{{user.location}}</a>
                        </li></ul>
                    </div>
                </div>
            </div>
            <ul class="col-lg-6 media-list media-list-stream mb-3" id="post-container">
                <form class="create-post mb-3" method="POST">
                    <div class="form-group">
                        <input type="text" placeholder="Create Post" class="form-control" id="title" placeholder="">
                    </div>
                    <div class="form-group-hidden">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Description" id="desc" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <ul id="tags">
                            </ul>
                        </div>
                        <div class="checkbox check-primary">
                            <input id="set-deadline" type="checkbox" value="">
                            <label for="set-deadline">Set deadline</label>
                        </div>
                        <div class="form-group">
                            <input type="date" class="form-control" id="deadline" placeholder="Deadline" disabled>
                        </div>
                        <button data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample" type="submit" id="post" class="post-btn btn btn-primary" style="cursor: pointer;">Post</button>
                        <a href="" id="cancel-post" class="btn btn-outline-secondary ml-2">Cancel</a>
                    </div>
                </form>
                <post-feed></post-feed>
                <p class="text-center mt-2 no-search-results">No results...</p>
                <img class='loading-circle loading-circle-posts' src="{% static 'img/loading.gif' %}">
            </ul>
            <div class="col-lg-3 right-pane">
                <div class="growl w-100 growl-static">
                    <div class="alert alert-dark alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <strong>Welcome!</strong> Peerspace is currently in its alpha development stage, please <a class="message-btn" href="#">get in contact</a> with any suggestions or issues. Thanks!
                    </div>
                </div>
                <div class="card mb-4 d-none d-lg-block news-card">
                    <div class="card-body">
                        <h6 class="mb-3">News</h6>
                        <div data-grid="images" data-target-height="150"><img class="media-object" data-width="640" data-height="640" data-action="zoom" src="{% static 'img/coding.jpg' %}" style="width: 239px; height: 225px; margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;"></div>
                        <p><strong>Find out how Peerspace works.</strong> View the documentation for a line-by-line explaination of how the site operates.</p>
                        <a class="btn btn-outline-primary btn-sm" href="{% url 'docs' %}">View docs</a>
                    </div>
                </div>
                <div class="suggested-users-card d-none d-sm-block">
                    <div class="card suggested-users-card-innner">
                        <div class="card-body">
                            <h6 class="mb-3">Suggested Users <small>· <a href="#">View All</a></small></h6>
                            <ul class="media-list media-list-stream" id="suggested-users">
                                <img class='loading-circle loading-circle-suggested' src={% static 'img/loading.gif' %}>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer">
                        The algorithm to give suggested users is currently being improved.
                    </div>
                    <div class="card card-link-list mt-4 links-card">
                        <div class="card-body">
                            2018 © Jamie Williams
                            <a href="#">About</a>
                            <a href="#">Help</a>
                            <a href="#">Terms</a>
                            <a href="#">Privacy</a>
                            <a href="#">Cookies</a>
                            <a href="#">Ads </a>
                            <a href="#">Info</a>
                            <a href="#">Brand</a>
                            <a href="#">Blog</a>
                            <a href="#">Status</a>
                            <a href="#">Apps</a>
                            <a href="#">Jobs</a>
                            <a href="#">Advertise</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-md" id="followersModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <ul class="media-list media-list-users list-group mt-3" id="followers-modal-content">
                    <follower></follower>
                    <img class='loading-circle loading-circle-followers' src="{% static 'img/loading.gif' %}">
                </ul>
            </div>
        </div>
    </div>
    <script>
        function sendVar() {
            return {
                userId: {{ user.id }},
                page: 'postFeed',
                tags: true,
            }
        }
    </script>
    <script src="{% static 'js/peerspace.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('.no-search-results').hide();
            $("#tags").tagit({caseSensitive:false});
            $('.ui-widget-content')
                .attr('placeholder', 'Tags')
                .addClass('form-contol');

            // Enable date field if the check box is checked
            $(document).on('change', '#set-deadline', function() {
                var deadline = $('#deadline');
                if (this.checked) {
                    deadline.prop('disabled', false)
                } else {
                    deadline.prop('disabled', true);
                    deadline.val('')
                }
            });
            // Set the number of suggested users to get
            var pageSize = 5;
            // Get the suggested users
            if ($('.suggested-users-card').css('display') === 'block') {
                $.ajax({
                    type: "GET",
                    url: "/users/api/v2/suggested_users/{{ user.id }}/" + pageSize,
                    dataType: 'json',
                    success: function(data) {
                        if (!data.length) {
                            $('#suggested-users').html('No suggested users...')
                        }
                        $.each(data, function(i, e) {
                            var userHTML = '<li class="media mb-2">';
                            userHTML += '<a href="/users/' + e.id + '"><img class="media-object d-flex align-self-start mr-3" src="' + e.profile_pic + '"></a>';
                            userHTML += '<div class="media-body"><a href="/users/' + e.id + '"><strong>' + e.name + '</strong></a>';
                            userHTML += '<div class="media-body-actions">';
                            userHTML += '<button class="btn btn-outline-primary btn-sm follow-btn" userid=' + e.id + '><span class="icon icon-add-user"></span> Follow</button>';
                            userHTML += '</div></div></li>';
                            $('#suggested-users').append(userHTML)
                        });
                        $('.loading-circle-suggested').hide()
                    }, error: function(error) {
                        console.log('Error getting suggested users...');
                        $('.loading-circle-suggested').hide();
                        $('#suggested-users').html('Error getting suggested users...')
                    }
                })
            }
        });
    </script>
{% endblock %}
