{% extends 'layout.html' %}
{% block title_tag %}Feed | {{ block.super }}{% endblock %}
{% load static %}
{% block body_content %}
<!-- Peerspace specific stylesheets -->
<link rel="stylesheet" href="{% static 'posts/css/post.css' %}">
<!-- Percentage circles stylesheets -->
<link rel="stylesheet" href="{% static 'posts/css/circle.css' %}">
<link rel="stylesheet" href="{% static 'posts/sass/circle.scss' %}">
<!-- jQueryUi specific stylesheets -->
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/flick/jquery-ui.css">
<!-- Tagit specific stylesheets -->
<link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet" type="text/css">
<div class="container post-feed">
  <div class="row">
    <div class="user-info col-lg-3">
      <div class="card card-profile mb-4">
        <div class="card-header" style="background-image: url({{ profile_pictures.user_cover_pic }});"></div>
        <div class="card-body text-center">
          <a href="{% url 'users:profile_user' %}">
            <img class="card-profile-img profile-pic-lg" src="{{ profile_pictures.user_profile_pic }}">
          </a>
          <h6 class="card-title">
            <a class="text-inherit" href="{% url 'users:profile_user' %}">{{ user.name}}</a>
          </h6>
          <p class="mb-4">{{ user.bio }}</p>
          <ul class="card-menu">
            <li class="card-menu-item">
              <a href="#userModal" class="text-inherit" data-toggle="modal">
                Followers
                <h6 class="my-0">{{ user.follows.count }}</h6>
              </a>
            </li>
            <li class="card-menu-item">
              <a href="#userModal" class="text-inherit" data-toggle="modal">
                Posts
                <h6 class="my-0">{{ number_of_posts }}</h6>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card d-md-block mt-3 d-lg-block mb-4 user-stats">
        <div class="card-body">
          <h6 class="mb-4">Post completion <small>· <a href="#">More</a></small></h6>
          <div class="c100 p{{completion_percentage}} center mb-4">
            <span>{{completion_percentage}}%</span>
            <div class="slice"><div class="bar"></div><div class="fill"></div></div>
          </div>
          <hr>
        <h6 class="mb-3">About <small>· <a href="{% url 'users:edit' %}">Edit</a></small></h6>
        <ul class="list-unstyled list-spaced">
          <li><span class="text-muted icon icon-graduation-cap mr-3"></span>Went to <a href="#">{{user.education}}</a>
          </li><li><span class="text-muted icon icon-briefcase mr-3"></span>Worked at <a href="#">{{user.work}}</a>
          </li><li><span class="text-muted icon icon-location-pin mr-3"></span>Location <a href="#">{{user.location}}</a>
          </li></ul>
        </div>
      </div>
    </div>
    <ul class="col-lg-6 media-list media-list-stream mb-3" id="post-container">
      <form class="create-post" method="POST">
        <div class="form-group">
          <!-- <label for="exampleFormControlInput1">Title:</label> -->
          <input type="text" placeholder="Create Post" class="form-control" id="title" placeholder="">
        </div>
        <div class="form-group-hidden">
          <div class="form-group">
            <textarea class="form-control" placeholder="Description" id="desc" rows="3"></textarea>
          </div>
          <div class="form-group">
            <ul id="tags">
            </ul>
          </div>
          <!-- <div class="form-group">
            <input type="dat" class="form-control" id="deadline" placeholder="Deadline">
          </div> -->
          <button data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" type="submit" id="post" class="post-btn btn btn-primary">Post</button>
        </div>
      </form>
      <post-feed></post-feed>
      <p class="text-center mt-2 no-search-results">No results...</p>
      <img class='loading-circle loading-circle-posts' src="{% static 'img/loading.gif' %}">
    </ul>
    <div class="col-lg-3 right-pane">
      <div class="card mb-4 d-none d-lg-block news-card">
        <div class="card-body">
          <h6 class="mb-3">News</h6>
          <div data-grid="images" data-target-height="150"><img class="media-object" data-width="640" data-height="640" data-action="zoom" src="{% static 'img/coding.jpg' %}" style="width: 239px; height: 225px; margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;"></div>
          <p><strong>Find out how Peerspace works.</strong> View the documentation for a line-by-line explaination of how the site operates.</p>
          <a class="btn btn-outline-primary btn-sm" href="{% url 'docs' %}">View docs</a>
        </div>
      </div>
      <div class="suggested-users-card">
        <div class="card d-none d-sm-block suggested-users-card-innner">
          <div class="card-body">
            <h6 class="mb-3">Suggested Users <small>· <a href="#">View All</a></small></h6>
            <ul class="media-list media-list-stream" id="suggested-users">
              <img class='loading-circle loading-circle-suggested' src={% static 'img/loading.gif' %}>
            </ul>
          </div>
        </div>
        <div class="card-footer">
          The algorithm to give suggested users is currently being improved.
        </div>
        <div class="card card-link-list mt-4 links-card">
          <div class="card-body">
            © 2018 Peerspace
            <a href="#">About</a>
            <a href="#">Help</a>
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
            <a href="#">Cookies</a>
            <a href="#">Ads </a>
            <a href="#">Info</a>
            <a href="#">Brand</a>
            <a href="#">Blog</a>
            <a href="#">Status</a>
            <a href="#">Apps</a>
            <a href="#">Jobs</a>
            <a href="#">Advertise</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
(function($) {
    if (!$.curCSS) {
       $.curCSS = $.css;
    }
})(jQuery);
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/tag-it.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/csrf.js' %}"></script>
<script src="{% static 'tags/post-feed.js' %}"></script>
<script src="{% static 'dist/toolkit.js' %}"></script>
<script>
  $(document).ready(function() {
    $('.no-search-results').hide()
    $("#tags").tagit({caseSensitive:false})
    $('.ui-widget-content')
      .attr('placeholder', 'Tags')
      .addClass('form-contol')
      // Set the number of suggested users to get
      var pageSize = 5;
      // Get the suggested users
      if ($('.suggested-users-card').css('display') == 'block') {
        $.ajax({
          type: "GET",
          url: "/users/api/v2/suggested_users/{{ user.id }}/" + pageSize,
          dataType: 'json',
          success: function(data) {
            if (!data.length) {
              $('#suggested-users').html('No suggested users...')
            }
            $.each(data, function(i, e) {
              var userHTML = '<li class="media mb-2">'
              userHTML += '<img class="media-object d-flex align-self-start mr-3" src="' + e.profile_pic + '">'
              userHTML += '<div class="media-body"><strong>' + e.name + '</strong>'
              userHTML += '<div class="media-body-actions">'
              userHTML += '<button class="btn btn-outline-primary btn-sm follow-btn" userid=' + e.id + '><span class="icon icon-add-user"></span> Follow</button>'
              userHTML += '</div></div></li>'
              $('#suggested-users').append(userHTML)
            })
            $('.loading-circle-suggested').hide()
          }, error: function(error) {
            console.log('Error getting suggested users...')
            $('.loading-circle-suggested').hide()
            $('#suggested-users').html('Error getting suggested users...')
          }
        })
      }
    })

  // Will fade the delete button in and out when the user hovers over their own comment
  $(document).on('mouseenter', '.comment-block', function() {
    var commentId = $(this).attr('commentid')
    $('.delete-comment-btn-' + commentId).fadeIn();
  })
  $(document).on('mouseleave', '.comment-block', function() {
    var commentId = $(this).attr('commentid')
    $('.delete-comment-btn-' + commentId).fadeOut();
  })
  // $('like-btn').tooltip()
  $(document).on('mouseenter', 'like-btn', function() {

  })

 var postData = []
 var postIds = []
 var pageNumber = 0
  function tagCallBack(theTag) {
    // Gets posts
    $.ajax({
      type: "GET",
      url: "/posts/api/v1/feed/{{ user.id }}/" + pageNumber,
      dataType: 'json',
      success: function(data) {
        postData = data
        $.each(postData, function(i, post) {
          postIds.push(post.id)
        })
        userID = {{ user.id }}
        theTag.trigger('data_loaded', data, userID)
        $('.loading-circle-posts').hide()
      }, error: function(error) {
        console.log('Error loading posts...')
      }
    });
    var reachedBottom = false
    $(window).scroll(function() {
      toScroll = $(document).height() - $(window).height() - 100;
      if ($(this).scrollTop() > toScroll && !reachedBottom) {
        pageNumber++
        reachedBottom = true
        //Show loading gif
        $('.loading-circle-posts').show()
        //Gets more posts
        $.ajax({
          type: "GET",
          url: "/posts/api/v1/feed/{{ user.id }}/" + pageNumber,
          dataType: 'json',
          success: function(data) {
            $.each(data, function(i, post) {
              if ($.inArray(post.id, postIds) == -1) {
                postData.push(post)
              }
            })
            userID = {{ user.id }}
            if (data.length == 10) {
              reachedBottom = false
            } else {
              reachedBottom = true
              console.log('No more posts')
            }
            theTag.trigger('data_loaded', postData, userID)
            //Hide loading gif
            $('.loading-circle-posts').hide()
          }, error: function(error) {
            console.log('Error loading posts...')
          }
          })
        }
    })
    $('#post').click(function(e) {
      var tags = $("#tags").tagit("assignedTags");
      // $("#deadline").datepicker();
      userID = {{ user.id }}
      var data = {
        user: userID,
        title: $('#title').val(),
        description: $('#desc').val(),
        tags: tags.join(', '),
        // deadline: $("#deadline").datepicker("getDate"),
      }
      e.preventDefault()
      $.ajax({
        type: "POST",
        url: "/posts/api/v1/",
        data: data,
        success: function(postData) {
          postData.unshift(postData)
          pageNumber = 0;
          // riot.mount('post-feed', {callback:tagCallBack})
          theTag.trigger('data_loaded', postData, userID)
          $('#title').val('')
          $('#desc').val('')
          $("#tags").tagit("removeAll");
          $('.form-group-hidden').hide()
        }
      });
    })
    // User search`
    $(document).on("keydown", ".search-input", function (e) {
        if (e.which == 13 && $(this).val()) {
          e.preventDefault()
          var searchTerm = $('.search-input').val()
          if (searchTerm) {
            // Show loading circle
            $('.loading-circle-posts').show()
            $('.no-search-results').hide()
            // Get search term
            var pageSize = 10;
            $('.create-post').hide()
            $.ajax({
              type: "GET",
              url: "/search/{{ user.id }}/" + searchTerm + "/" + pageSize,
              dataType: 'json',
              success: function(data) {
                if (!data.length) {
                  $('.no-search-results').show()
                } else {
                  $('.no-search-results').hide()
                }
                userID = {{ user.id }}
                theTag.trigger('data_loaded', data, userID)
                $('.loading-circle-posts').hide()
              }, error: function(error) {
                console.log('Error searching for posts...')
              }
            })
          }
        }
    })
  }
  //Sends follow
  $(document).on('click', '.follow-btn', function(e) {
    e.preventDefault()
    this_button = $(this)
    $.ajax({
      type: "GET",
      url: "/users/api/v2/" + this_button.attr('userid') + "/follow/",
      dataType: "json",
      success: function(data) {
        if (data.following) {
          this_button.html('<span class="icon icon-check"></span> Following')
        } else {
          this_button.html('<span class="icon icon-add-user"></span> Follow')
        }
      }
    })
  })
  function deleteComment(commentId, postId) {
    $.ajax({
      url: "/posts/api/v1/comments/" + commentId,
      type: "DELETE",
      // This MUST be in the callback due to the asynchronus nature of javascript
      success: function() {getComments(postId)}
    })
  }
  function getComments(postId) {
    //Gets comments
    $.ajax({
      type: "GET",
      url: "/posts/api/v1/" + postId + "/comment",
      dataType: "json",
      success: function(comments) {
        $('.comment-list-' + postId).html('')
        if (comments.length == 0) {
          $('.comment-form-' + postId).fadeIn()
        }
        $.each(comments, function(i,e) {
          var commentHTML = '<li class="media comment-block py-3" commentid=' + e.commentId + '>';
          commentHTML += '<img class="media-object comment-pic d-flex align-self-start mr-3" src="' + e.user_pic_url + '">'
          commentHTML += '<div class="media-body">'
          commentHTML += '<strong>' + e.user_name + ': </strong>'
          commentHTML += e.comment
          if ({{user.id}} == e.userID) {
            //Handle the deleting of comments here
            commentHTML += '</div><button class="btn delete-comment-btn delete-comment-btn-' + e.commentId + ' btn-outline-danger" style="float:right; padding:0px 3px;" href="#" onClick="deleteComment('+ e.commentId +',' + postId + ')"><span class="icon icon-cross"></span></button>'
          }
          commentHTML += '</li>'
          if (comments.length > i + 1) {
            commentHTML += '<hr>'
          }
          $('.comment-list-' + postId).append(commentHTML)
        })
        // I can get the callback from a function by calling it in a console.log()
        $('.comment-btn-' + postId).html('<span class="icon icon-message"></span> Comment (' + comments.length + ')')
        $('.comment-container-' + postId).fadeIn()
        $('.comment-form-' + postId).fadeIn()
      }
    });
  }
  //Sends like
  $(document).ready(function() {
    $(document).on('click', '.like-btn', function(e) {
      // Stop the page refreshing when the button is clicked
      e.preventDefault()
      var this_button = $(this)
      $.ajax({
        url: "/posts/api/v1/" + this_button.attr('id') + "/like",
        method: "GET",
        data: {},
        success: function(data) {
          if (data.liked) {
            this_button.css('color', '#007bff')
            this_button.html('<span class="icon icon-thumbs-up"></span> Liked (' + data.likes + ')')
          } else {
            this_button.css('color', 'grey')
            this_button.html('<span class="icon icon-thumbs-up"></span> Like (' + data.likes + ')')
          }
        }
      })
    })
    //Sends comment
    $(document).on("keydown", ".comment", function (e) {
        if (e.which == 13 && $(this).val()) {
          postId = $(this).attr("post-id")
          var data = {
            comment: $(this).val(),
            post: postId
          }
          $.ajax({
            url: "/posts/api/v1/" + postId + "/comment",
            method: "POST",
            data: data,
            success: function(data) {
              //Load all comments
              getComments(postId)
            }
          })
          $(this).val('')
        }
    })
    $(document).on('click', '.comment-btn', function(e) {
      // Stop the page refreshing when the button is clicked
      e.preventDefault()
      postId = $(this).attr("post-id")
      commentsOpen = $('.comment-container-' + postId).attr('commentsopen')
      if (commentsOpen == 'true') {
        $('.comment-container-' + postId).fadeOut(function() {
          $('.comment-container-' + postId).attr('commentsopen', 'false')
          $('.comment-btn-' + postId).css('color', 'grey')
        })
        $('.comment-form-' + postId).fadeOut()
      } else {
        $('.comment-container-' + postId).attr('commentsopen', 'true')
        $('.comment-btn-' + postId).css('color', '#007bff')
        getComments(postId)
      }
    })
    // Sends verification
    $(document).on('click', '.verify-btn', function(e) {
      e.preventDefault()
      postId = $(this).attr("post-id")
      this_button = $(this)
      $.ajax({
        url: "/posts/api/v1/" + postId + "/verify",
        method: "GET",
        dataType: "json",
        success: function(data) {
          if (data.verified_user) {
            this_button.css('color', '#007bff')
            this_button.html('<span class="icon icon-shield"></span> Verified (' + data.verifications + '/5)')
          } else {
            this_button.css('color', 'grey')
            this_button.html('<span class="icon icon-shield"></span> Verify (' + data.verifications + '/5)')
          }
          if (data.verifications >= 5) {
            $('.verify-btn-' + postId).hide()
            $('.awaiting-verifcation-' + postId).hide()
            var statusHTML = '<p class="float-right completion-status completed-{post.id} mr-3 pt-1" style="color: green;"><span class="icon icon-check"></span> Completed</p>'
            $('.completion-status-container-' + postId).html(statusHTML)
          }
        }
      })
    })
    $('.form-group-hidden').hide()
    $(document).on('focus', '#title', function() {
      $('.form-group-hidden').fadeIn()
    })
    // $(document).on('focusout', '#title', function() {
    //   $('.form-group-hidden').fadeOut()
    // })

  })
  riot.mount('post-feed', {callback:tagCallBack})
</script>
{% endblock %}
